/* Header */
header.header {
    height: 70px;
    margin-bottom: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 0px 2px #ddd;
}
.header-text {
    display: inline-block;
    padding-top: 0;
    line-height: 31px;
    position: relative;
    top: 1px;
}

.valeo-app-title {
    margin: 0px;
    color: #4D6B7D;
    line-height: 31px;
    padding: 5px 0;
}
.form-control:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

/* for form Label */

label {
    font-size: 12px;
}


/* Fixed Nav 0n Scroll*/

.navfixedbtn {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 1140px;
    background: #fff;
    padding-top: 15px;
}


/* Accordion */

.panel-default > .panel-heading {
    background-color: #E6E6E6;
    color: #333;
}

.panel-title {
    font-weight: normal;
    font-size: 16px;
}


/* Button spacing */

#createorder-section button+button,
#navbar-2 button+button {
    margin-left: 4px;
}


/* text overflow */

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Table Component */

#component-table .table thead tr th,
#component-table .table tbody tr td {
    font-size: 12px;
}


/* Data Table Component for pagenation*/
.dataTables_info {
    float: left;
}
.dataTables_paginate ul.pagination li {
    display: none;
}

.dataTables_paginate ul.pagination li.previous,
.dataTables_paginate ul.pagination li.next {
    display: inline-block;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled a {
    padding: 5px 6px 7px;
    background-color: #fff !important;
    border: 1px solid #dddddd !important;
    margin-left: -1px;
    font-size: 0;
}

.dataTables_paginate ul.pagination li.next a::before,
.dataTables_paginate ul.pagination li.next a::before {
    content: "\e080";
}

.dataTables_paginate ul.pagination li.previous a::before,
.dataTables_paginate ul.pagination li.previous a::before {
    content: "\e079";
}

.dataTables_wrapper .dataTables_paginate .paginate_button a::before,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled a::before {
    font-size: 12px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* create order css */
ul.orderstabcol > li > a {
    padding: 5px 15px;
}
.attachcustomer > li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.attachcustomer > li > i {
    margin-right: 5px;
}
.attachcustomer > li > a.fa {
    padding: 5px;
    margin-top: -1px;
    color: #333;
}
.attachcustomer > li > a {
    cursor: pointer;
	font-size: 12px;
}
select.input-sm {
    height: 23px;
    padding-top: 0px;
    padding-bottom: 0;
}
.input-sm {
    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
    font-size: 13px;
}
.input-group-addon {
    padding: 0px 10px;
    font-size: 12px;
}
.form-group {
    margin-bottom: 5px;
}
.dt-buttons a.btn + a.btn {
    margin-left: 5px;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    font-size: 12px;
}
button.btn.dropdown-toggle.btn-default.btn-sm {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}
button.btn.dropdown-toggle.btn-default {
    background-color: #fff;
    box-shadow: none;
}
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
    background-color: rgba(255,0,0,0.1) !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #97D045;
}

/* Component detail css */
.nav.comnav-tabs > li > a {
    font-weight: 700;
    color: #757575;
}
.nav.comnav-tabs > li.active > a {
    background-color: #787878;
    color: #FFF;
}
.comnav-pills {
    background-color: #787878;
}
.comnav-pills > li > a{
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.74);
    border-radius: 0;	
}
.comnav-pills > li > a:hover {
    background-color: transparent;
    color: #fff;
}
.comnav-pills > li.active > a, 
.comnav-pills > li.active > a:hover,
.comnav-pills > li.active > a:focus {
    background-color: #97D045;
    cursor: default;
}

/* Admin setting */
.configset li {
    margin-bottom: 15px;
}
.configset li a {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.configset li img {
    width: 42px;
    margin-right: 15px;
}

/* Voice box */
.status-voicebox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1051;
}
.status-voicebox .voicebox-content {
    display: inline-block;
    padding: 5px 10px;
    color: #000000;
    font-weight: 200;
    background-color: #FFF09D;
    border: 1px solid #FFDE2F;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.loading {
    display: inline-block;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
    border-radius: 50%;
       width: 16px;
    height: 16px;
    border: 0.25rem solid rgba(111, 111, 111, 0.2);
    border-top-color: #A7A7A7;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
.error {
    border-color: #b94a48;
    background-color: rgba(255,0,0,0.1) !important;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 768px){
.navfixedbtn {
    width: 720px;
}
}
@media (min-width: 992px) {
  .navfixedbtn {
    width: 940px;
  }
}
@media (min-width: 1200px){
	.navfixedbtn {
	    width: 1140px;
	}
}


