/* GENERAL */
.wrapper {
    padding: 30px;
    background-color: #ffffff;
}
.download-sources{
    margin-left: 50%;
}

.download-sources i {
  font-size: 14px;
}
/* HOME */

.home-glyphicon{
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 3px solid #000000;
    font-size: 24px;
    line-height: 94px;
}
.glyphicon-title{
    margin-top: 20px;
}

.home-sections .well{
    margin-top: 20px;
    font-size: 18px;
    min-height: 300px;
    transition: box-shadow .25s;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    color: #000000;
}
.home-sections .well:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.17);
    transition: all .3s ease-out;
}
.ul-glyphicons {
    list-style-type: none;
    margin: 10px auto;
    clear: both;
}
.ul-glyphicons li {
    margin: 0 -1px -1px 0;
    width: 70px;
    height: 120px;
    float: left;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    color: black;
}
.ul-glyphicons li span.glyphicon-class {
    margin: 15px auto;
    width: 70px;
    text-align: center;
    display: block;
    font-size: 10px;
    font-family: verdana;
}
.ul-glyphicons li span.glyphicon {
    font-size: 25px;
    display: block;
    margin: 4px auto;
}
.navbar {
    border: none;
}
.demog{
    background-color: rgb(120,120,120);
    height: 30px;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* to keep*/
.home-sections a:hover, .home-sections a:focus {
    text-decoration: none;
}

.header{
    height: 120px;
}

.header .text-right{
    margin-top: 0;
    margin-bottom: 0;
}
.header [class*="col-"] img, footer .logo img{
    padding: 5px;
}
.header [class*="col-"] h2{
    margin-top: 0;
    margin-bottom: 0;
}
.header-text{
    display: inline-block;
    padding-top: 8px;
    position: relative;
    top: 1px;
    line-height: 1;
}
.header a, .header button.dropdown-toggle, .header span{
    color: #515151;
    font-size: 12px;
}
.header button.dropdown-toggle:hover,
.header button.dropdown-toggle:hover,
.header button.dropdown-toggle:hover,
.header a:hover,
.header a:focus,
.header a:active
{
    text-decoration: none;
}
.language{
    min-width: 75px;
}
.language-dropdown button{
    padding-left: 0;
}
.header .language-dropdown button img{
    padding-left: 0;
}

.app-launcher{
    padding: 8px;
}
.setting-input-group .btn-default{

   background-color: #fff;
  font-size: 14px !important;
  border-right: 0;
  border-left: 0;
  padding-right: 15px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.setting-input-group .form-control{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.setting-input-group .open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #adadad;
}
footer{
    border-top: 1px solid #fff;
    background-image: url('../statics/images/footer.png');
    background-color: #f9f9f9;
    background-position: 0 0;
    background-repeat: repeat-x;
    color: #a9a9a9;
    font-size: 10px;
}

footer li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}
footer li {
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #a9a9a9;
}
footer .logo {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
footer .footer-text a,
footer .footer-text a:hover,
footer .footer-text a:focus{
    color: #a9a9a9;
}
.background-copyright{
    position: absolute;
    left: 210px;
    bottom: 15px;
    overflow: hidden;
}
.s-links{
  background-image: url("/statics/images/s-bkd.png");
  display: table;
  width: 100%;
  table-layout: fixed;
  -webkit-padding-start: 0;
}
.s-links:before{
    background-image: url("/statics/images/s_bkd_before.png");
}
.s-links li{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 80px;
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}
.s-links li a{
    position: relative;
  display: block;
  height: 80px;
  line-height: 80px;
  -webkit-transition: background-color 200ms ease-in-out,background-position 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out,background-position 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out,background-position 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out,background-position 200ms ease-in-out;
  transition: background-color 200ms ease-in-out,background-position 200ms ease-in-out;
  border-right: 1px solid #bbb;
  border-left: 1px solid #fff;
  background-position: 50% 85px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.s-links .facebook{
  border-left: none !important;
}
.s-links .rss{
    border-right: none !important;
}
.s-links .facebook:hover {
  background-color: #385698;
}
.s-links .twitter:hover {
  background-color: #31baf2;
}
.s-links .youtube:hover {
  background-color: #eb3b3d;
}
.s-links .linkedin:hover {
  background-color: #069;
}
.s-links .rss:hover {
  background-color: #fa9c39;
}
.valeo-green{
  color: #97D045;
}
.table-pager{
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: right;
}
.table-pager li{
    display: inline;
}
.table-pager li > a, .table-pager li > span {
  list-style: none;
  display: inline-block;
  margin-left: -4px;
  padding: 5px 8px;
  background-color: rgb(251,251,251);
  border: 1px solid #dddddd;
  color: #000;
}

.stepwizard-step p {
    margin-top: 10px;
    font-size: 12px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 3px 0;
  font-size: 30px;
  line-height: 1.428571429;
  border-radius: 35px;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:15px;
  height:15px;
    border: 1px solid rgb(223, 223, 223);
  border-radius:50%;
  outline:none;
    background-color: #C6DE9E;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background: #97D045;
}
.header-search{
    border-right: 0;
}
.search-arrow:after{
    content:'';
    position:absolute;
    right:35px;
    top:50%;
    margin-top:-7px;
    width:14px;
    height:14px;
    background:#fff;
    transform: rotate(-45deg);
    z-index: 1000;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    margin-top: 50px;
    margin-left: -1px;
}
@media (min-width: 768px) {
    .dropdown-submenu:hover>.dropdown-menu,
    .dropdown-submenu:active>.dropdown-menu{
        display:block;
        background-position: 0 0;
        background-repeat: repeat-x;
        -webkit-border-radius: 0 ;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 19px 0 19px 0
    }
}
@media (max-width: 768px) {
  .dropdown-submenu .dropdown-menu {
      position: static;
      margin-top: 0;
      border: 0;
      box-shadow: none;
      background-color: transparent;
      width: auto;
      float: none;
    }

 .dropdown-submenu.dropdown-menu  a:after {
      margin-left: 6px;
      display: inline-block;
      vertical-align: middle;

      .make-caret(top, left, right);
    }
  }
.dropdown-submenu:hover>.dropdown-menu li,
.dropdown-submenu:active>.dropdown-menu li{
    height: 25px;
    line-height: 25px;
    text-transform: none;
    text-align: left;
    padding: 3px 2px;
    border-bottom: none;
}

.dropdown-submenu:hover>.dropdown-menu li:active,
.dropdown-submenu:active>.dropdown-menu li:active{
    background-position: 0 0;
    background-repeat: repeat-x;
    text-decoration: none;
}
.dropdown-submenu:hover>.dropdown-menu li a,
.dropdown-submenu:active>.dropdown-menu li a{
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.submenu-item{
    height: 25px;
    line-height: 25px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.6);
    text-transform: none;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

h2.valeo-app-title {
    font-size: 25px;
    padding-top: 4px;
}
.header-settings { margin-top: 15px;}
footer .footer-text {
    padding: 20px 0;
}
.footer-text > div:first-child{
    position: absolute;
    left: -7px;
}

@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }

    h2.valeo-app-title { font-size: 30px}
    .header-settings { margin-top: inherit;}
    .footer-text > div:first-child{
        position: absolute;
        left: -30px;
    }
}
@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }

    h2.valeo-app-title { font-size: 30px}
    .header-settings { margin-top: inherit;}
    .footer-text > div:first-child{
        position: absolute;
        left: -31px;
    }
}
@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }

    h2.valeo-app-title { font-size: 30px}
    .header-settings { margin-top: inherit;}
    .footer-text > div:first-child{
        position: absolute;
        left: -33px;
    }
}