@CHARSET "ISO-8859-1";
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab_wrap{
    border:1px solid #999;
    max-width:1110px;
    width: 100%;
}


.tabs {
    width: 100%;
    margin: auto;
    overflow: hidden;   
    background: #97d045;
}
.tabs ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;      
}
.tabs li a {
/*     width:100%;   */
    color: black;
    display: block;
    float: left;
    font-weight:bold;   
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border:none;
    border-left:1px solid #d9d9d9;
/*     border-bottom:1px solid #d9d9d9;     */
}
.tabs li a:hover {
    color: #7d7d7d; 
    background:#FFFFFF;
}
.tabs li:first-child a {
    border-left:none;
}
.tabs li a.active {
    background:#FFFFFF;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #FFFFFF;    
}
.tabs li:first-child a.active {
    border:none;
    border-bottom:1px solid #FFFFFF;    
}
.tabs li:last-child a.active {
    border:none;
    border-left:1px solid #d9d9d9;  
    border-bottom:1px solid #FFFFFF;    
}


.tab_content {
    background:#FFF;
    padding:0;
    display:none;   
}
.tab_content.active{
    display:block;  
}
.tab_content ul {
    margin:0px;
    padding:0px;
    list-style:none;    
}
.tab_content li {
    display:block;
    overflow: hidden;   
    border-bottom:1px solid #d6dde0;    
}
.tab_content li:last-child {
    border-bottom:none;
}
.tab_content li a {
    display:block;
    list-style:none;
    overflow: hidden;   
    padding:10px;           
    text-decoration:none;
    color:#444444;
}
.tab_content li a:hover {
    color:#000000;
    background:#F5F5F5; 
}
.tab_content li small {
    color:#AAAAAA;
    font-size:11px;
    font-style:italic;
}
.tab_content li a:hover small {
    color:#AAAAAA;
}


html, body
{
padding: 0;
border: 0px none;
}
 
/* Let's add some style to our fieldset & legend */
 
fieldset
{
-moz-border-radius: 7px;
border: 1px #dddddd solid;
padding: 10px;
width: 1065px;
margin-top: 10px;
}
 
fieldset legend
{
	background: #97d045;
border: 1px #1a6f93 solid;
color: white;
 
font-family: Verdana;
font-weight: none;
font-size: 13px;
 
padding-right: 5px;
padding-left: 5px;
padding-top: 2px;
padding-bottom: 2px;
 
-moz-border-radius: 3px;
}
 
/* Main DIV */
.m
{
 width: auto; 
padding: 20px;
height: auto;
}
 
/* Left DIV */
.l
{
 width: 140px; 
margin: 0px;
padding: 0px;
 
float: left;
text-align: right;
}
 
/* Right DIV */
.r
{
width: 300px;
margin: 0px;
padding: 0px;
 
float: right;
 
text-align: left;
}
 
.a
{
clear: both;
 width: 470px; 
padding: 10px;
}

/* .main-wrap { */
/*     overflow to handle inner floating block */
/*     overflow: hidden; */
/* } */
/* .main-wrap > div { min-height: 450px; } */
/* .left { */
/*     float: left; */
/*     width: 50%; */
/* } */

/* .right{ */
/*     float: right; */
/*     width: 50%; */
/* } */
legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

